<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather forecast</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/minty/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-HqaYdAE26lgFCJsUF9TBdbZf7ygr9yPHtxtg37JshqVQi6CCAo6Qvwmgc5xclIiV"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/index.css" />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
  </head>
  <body>
    <header class=""><h1>What's the weather like?</h1></header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#current-weather">Current weather</a>
      <br />
      <a class="navbar-brand" href="#app">5 day forecast</a>
    </nav>

    <!--current weather-->
    <div id="current-weather">
      <div class="text-center"><h2>Current weather</h2></div>
      <div class="search-box">
        <input
          class="search-bar"
          type="text"
          placeholder="Search..."
          v-model="query"
          @keypress="getWeather"
        />
      </div>

      <div class="weather-wrap" v-if="typeof weather.main != 'undefined'">
        <div class="location-box">
          <div class="location">
            {{ weather.name}}, {{weather.sys.country}}
          </div>
          <div class="date">{{dateBuilder()}}</div>
        </div>
        <div class="weather-box">
          <div class="temp">{{Math.round(weather.main.temp)}}°</div>
          <div class="feels-like">
            Feels like {{Math.round(weather.main.feels_like)}}°
          </div>
          <div class="weather">{{weather.weather[0].main}}</div>
        </div>
      </div>
    </div>

    <!--5 day forecast-->
    <div id="app">
      <div class="container mx-auto p-3">
        <div class="text-center"><h2>5 day forecast</h2></div>
        <div class="search-box">
          <input
            class="search-bar"
            type="text"
            placeholder="Search.."
            v-model="query"
            @keypress="getForecast"
          />
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date & time</th>
              <th scope="col">Temp</th>
              <th scope="col">Weather</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list">
              <td>{{item.dt_txt}}</td>
              <td>{{Math.round(item.main.temp)}}°</td>
              <td>{{item.weather[0].main}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="src/main.js"></script>
  </body>
</html>
