$yellow: #ffdf6b;
$blue: #8be8d7;
$dark-green: #264653;
$grey: #636363;
$pink: #f08080;
$green: #52b788;
$ice-blue: #caf0f8;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
}
.main {
  margin: 0 auto;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background: linear-gradient(to top, $yellow, $blue);
}
h1 {
  color: #fff;
  font-size: 50px;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}
#current-weather {
  background: linear-gradient(to bottom, $yellow, $blue);
  transition: 0.4s;
  min-height: 80vh;
  padding: 30px;
}
h2 {
  color: #fff;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
  margin: 10px;
}
.search-box {
  min-height: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.search-box .search-bar {
  display: block;
  color: $grey;
  width: 70%;
  padding: 15px;
  font-size: 20px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  &:focus {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  }
}
.location-box .location {
  color: #fff;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}
.location-box .date {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
.weather-box {
  text-align: center;
}
.weather-box .temp {
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  margin: 30px 0px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}
.weather-box .weather {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  font-style: italic;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.25);
}
.weather-box .feels-like {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

#app {
  min-height: 100vh;
  background: linear-gradient(to bottom, $blue, $yellow);
}

.table {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
